doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/compiled-css/common.min.css')

	body.site
		nav.navbar.navbar-default
			div.container-fluid
				div.navbar-header.col-md-3
					a.navbar-brand(href="/") BroadcastMe
				if user
					form.search-form.navbar-form.navbar-left(role="search" action='/search' method='POST')
						div.form-group
							input#search-input(type="text" class="form-control" placeholder="Search" name="query")
							div.search-suggestions
						button(type="submit" class="btn btn-default") Submit
					
					ul.nav.navbar-nav.navbar-right
						li
							a(href='/profile') #{user.name}
						li
							a(href = '/logout') Logout
				else
					form#loginForm(method='POST' action='/login' class='navbar-form navbar-right')
						div.form-group
							input#usernameLogin.form-control(type='text', placeholder='username', name='usernameLogin')
						div.form-group
							input#pwLogin.form-control(type='password', name='pwLogin')
						button.btn.btn-primary(type='submit') Login
		block content