extends layout

block content
	header.site-header
		div.navbar-header BroadcastMe
		form#loginForm(method='POST' action='/login')
			div.form-group
				label(for='usernameLogin') Username:
				input#usernameLogin.form-control(type='text', placeholder='username', name='usernameLogin')
			div.form-group
				label(for='pwLogin') Password:
				input#pwLogin.form-control(type='password', name='pwLogin')
			button.btn.btn-primary(type='submit') Login

	div.contentWrapper
		div.leftWrapper
		div.rightWrapper
			form#signupForm(method='POST' action='/register')
				div.form-group
					label(for='usernameSignup') Username:
					input#usernameSignup.form-control(type='text', placeholder='username', name='usernameSignup')
				div.form-group
					label(for='pwSignup') Password:
					input#pwSignup.form-control(type='password', name='pwSignup')
				button.btn.btn-primary(type='submit') Sign up
					