extends layout

block content
	div.container-fluid
		ul.list-group.col-md-6
			each result in results.length ? results : ["No result found"]
				li.list-group-item
					a(href ='/profile?user='+result.username)= result.name