extends layout

block content
	div.container-fluid.col-md-8
		form#newMsg(method='POST' action='/addMessage')
			div.form-group
				label(for='message') Message:
				textarea#message.form-control(rows='3', placeholder='Type your message here...', name='message', maxlength='140')
			button.btn.btn-primary(type='submit') Broadcast
									
	div.cotainer-fluid
		div.wall-posts.col-md-8
			h4 Others are saying...
			div.progress.post-loader
				div.progress-bar.progress-bar-primary(role="progressbar" aria-valuenow="0"  aria-valuemin="0" aria-valuemax="100" style="width:0%")
		div.follow-users.col-md-4
			h4 You are following...
			div.progress.follow-loader
				div.progress-bar.progress-bar-primary(role="progressbar" aria-valuenow="0"  aria-valuemin="0" aria-valuemax="100" style="width:0%")
		
	script(type='text/javascript', src='/compiled-js/wallPage.js')
