extends layout

block content
	div.container-fluid.col-md-8
		form#newMsg(method='POST' action='/addMessage')
			div.form-group
				label(for='message') Message:
				textarea#message.form-control(rows='3', placeholder='Type your message here...', name='message', maxlength='140')
			button.btn.btn-primary(type='submit') Broadcast
									
	div.cotainer-fluid
		div.wall-posts.col-md-8
		div.follow-users.col-md-4
		
	script(type='text/javascript', src='/javascripts/jquery-3.2.1.min.js')
	script(type='text/javascript', src='/javascripts/jquery-ui.min.js')
	script(type='text/javascript', src='/javascripts/userWall.js')
	script(type='text/javascript', src='/javascripts/userSearch.js')
