.form-wrapper{
	display: inline-block;
	vertical-align: top;
}

.form-wrapper form{
    margin: 0px auto;
}

.wall-posts{
	display: inline-block;
	vertical-align: top;
}

.follow-users{
	display: inline-block;
	vertical-align: top;
}